<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.luowei.opentools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>


    <application
        xmlns:tools="http://schemas.android.com/tools"
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_label}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.SameListActivity"/>
        <activity android:name=".module.jazzylistview.ListViewActivity"/>
        <activity android:name=".module.jazzylistview.GridViewActivity"/>
        <activity android:name=".module.jazzylistview.RecyclerViewActivity"/>
        <activity android:name=".module.materialripple.MaterialRippleActivity"/>
        <activity android:name=".module.androiduniversalimageloader.SimpleImageActivity"/>
        <activity android:name=".module.eventbus.EventbusActivity"/>
        <activity android:name=".module.butterknife.SimpleActivity"/>
        <activity
            android:name=".module.mpandroidchart.MPAActivity"
            android:hardwareAccelerated="true"/>
        <activity
            android:name=".module.asynchttp.AsynchttpActivity"
            android:windowSoftInputMode="stateHidden"/>

        <service android:name=".module.asynchttp.ExampleIntentService"/>

        <activity android:name=".module.photoview.PhotoViewActivity"/>
        <activity android:name=".module.swipelayout.SwipeLayoutActivity"/>

        <activity android:name=".test.TestListActivity"/>
        <activity android:name=".test.TestRippleActivity"/>

        <!--cheesesquare-->
        <activity
            android:name="com.support.android.designlibdemo.MainActivity"
            android:theme="@style/Theme.DesignDemo">
        </activity>

        <activity
            android:name="com.support.android.designlibdemo.CheeseDetailActivity"
            android:parentActivityName="com.support.android.designlibdemo.MainActivity"
            android:theme="@style/Theme.DesignDemo"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity android:name="com.support.android.designlibdemo.TextActivity"/>
        <!--cheesesquare-->

        <!--Android-Bootstrap-->
        <activity android:name="com.fractalwrench.androidbootstrap.sample.HomeActivity"/>
        <activity
            android:name="com.fractalwrench.androidbootstrap.sample.BootstrapButtonExample"
            android:label="BootstrapButton"
            />
        <activity
            android:name="com.fractalwrench.androidbootstrap.sample.BootstrapLabelExample"
            android:label="BootstrapLabel"
            />
        <activity
            android:name="com.fractalwrench.androidbootstrap.sample.AwesomeTextViewExample"
            android:label="AwesomeTextView"
            />
        <activity
            android:name="com.fractalwrench.androidbootstrap.sample.BootstrapProgressBarExample"
            android:label="BootstrapProgressBar"
            />
        <activity
            android:name="com.fractalwrench.androidbootstrap.sample.BootstrapButtonGroupExample"
            android:label="BootstrapButtonGroup"
            />
        <activity
            android:name="com.fractalwrench.androidbootstrap.sample.BootstrapCircleThumbnailExample"
            android:label="BootstrapCircleThumbnail"
            />
        <activity
            android:name="com.fractalwrench.androidbootstrap.sample.BootstrapThumbnailExample"
            android:label="BootstrapThumbnail"
            />
        <activity
            android:name="com.fractalwrench.androidbootstrap.sample.BootstrapEditTextExample"
            android:label="BootstrapEditTextExample"
            />
        <activity
            android:name="com.fractalwrench.androidbootstrap.sample.BootstrapWellExample"
            android:label="BootstrapWell"
            />
        <activity
            android:name="com.fractalwrench.androidbootstrap.sample.BootstrapDropDownExample"
            android:label="BootstrapDropDownExample"
            />
        <activity
            android:name="com.fractalwrench.androidbootstrap.sample.BootstrapBadgeExample"
            android:label="BootstrapBadgeExample"
            />
        <activity
            android:name="com.fractalwrench.androidbootstrap.sample.BootstrapAlertExample"
            android:label="BootstrapAlertExample"
            />
        <!--Android-Bootstrap-->

        <!--Material-Animations-->
        <activity
            android:name="com.lgvalle.material_animations.MainActivity"
            android:theme="@style/MaterialAnimations">
        </activity>
        <activity
            android:name="com.lgvalle.material_animations.TransitionActivity1"
            android:theme="@style/MaterialAnimations.Red" />
        <activity
            android:name="com.lgvalle.material_animations.TransitionActivity2"
            android:theme="@style/MaterialAnimations.Red" />
        <activity
            android:name="com.lgvalle.material_animations.TransitionActivity3"
            android:theme="@style/MaterialAnimations.Red" />
        <activity
            android:name="com.lgvalle.material_animations.SharedElementActivity"
            android:theme="@style/MaterialAnimations.Blue" />

        <activity
            android:name="com.lgvalle.material_animations.AnimationsActivity1"
            android:theme="@style/MaterialAnimations.Green" />

        <activity
            android:name="com.lgvalle.material_animations.AnimationsActivity2"
            android:theme="@style/MaterialAnimations.Green" />

        <activity
            android:name="com.lgvalle.material_animations.RevealActivity"
            android:theme="@style/MaterialAnimations.Yellow" />
<!--Material-Animations-->

        <!--AndroidViewAnimations-->
        <activity
            android:name="com.daimajia.androidanimations.MyActivity">
        </activity>
        <activity android:name="com.daimajia.androidanimations.ExampleActivity"/>
        <!--AndroidViewAnimations-->

        <!--android-Ultra-Pull-To-Refresh-->
        <activity android:name="in.srain.cube.views.ptr.demo.ui.activity.PtrDemoHomeActivity"
                  android:theme="@style/CubeTheme.NoWindowAniAndNoTitle">
        </activity>

        <activity
            android:name="in.srain.cube.views.ptr.demo.ui.viewpager.ViewPagerActivity"
            android:theme="@style/CubeTheme.NoWindowAniAndNoTitle"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <!--android-Ultra-Pull-To-Refresh-->

<!--ListViewAnimations-->
        <activity android:name="com.haarman.listviewanimations.MainActivity">
        </activity>
        <activity
            android:name="com.haarman.listviewanimations.appearance.AppearanceExamplesActivity"
            android:label="@string/appearance" />
        <activity
            android:name="com.haarman.listviewanimations.googlecards.GoogleCardsActivity"
            android:label="@string/googlecards" />
        <activity
            android:name="com.haarman.listviewanimations.itemmanipulation.ItemManipulationsExamplesActivity"
            android:label="@string/itemmanipulation" />
        <activity
            android:name="com.haarman.listviewanimations.itemmanipulation.DynamicListViewActivity"
            android:label="@string/dynamiclistview" />
        <activity
            android:name="com.haarman.listviewanimations.gridview.GridViewActivity"
            android:label="@string/gridviewexample" />
        <activity
            android:name="com.haarman.listviewanimations.itemmanipulation.expandablelistitems.ExpandableListItemActivity"
            android:label="@string/expandablelistitemadapter" />
        <activity
            android:name="com.haarman.listviewanimations.StickyListHeadersActivity"
            android:label="@string/stickylistheaders" />
    <!--ListViewAnimations-->

<!--AndroidSlidingUpPanel-->
    <activity
        android:name="com.sothree.slidinguppanel.demo.DemoActivity"
        android:theme="@style/AppThemeSlidinguppanel"/>
<!--AndroidSlidingUpPanel-->

<!--AppIntro-->
        <activity
            android:name="com.github.paolorotolo.appintroexample.MainActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.github.paolorotolo.appintroexample.DefaultIntro"
            android:label="@string/title_activity_default_intro"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.github.paolorotolo.appintroexample.CustomIntro"
            android:label="@string/title_activity_custom_intro"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.github.paolorotolo.appintroexample.PermissionsIntro"
            android:label="@string/title_activity_permissions_intro"
            android:theme="@style/FullscreenTheme"/>
        <activity
            android:name="com.github.paolorotolo.appintroexample.PermissionsIntro2"
            android:label="@string/title_activity_permissions_intro"
            android:theme="@style/FullscreenTheme"/>
        <activity
            android:name="com.github.paolorotolo.appintroexample.DefaultIntro2"
            android:label="@string/title_activity_second_intro"
            android:theme="@style/FullscreenTheme"/>
        <activity
            android:name="com.github.paolorotolo.appintroexample.DisableSwipeIntro1"
            android:label="@string/title_activity_default_intro_disable"
            android:theme="@style/FullscreenTheme"/>
        <activity
            android:name="com.github.paolorotolo.appintroexample.DisableSwipeIntro2"
            android:label="@string/title_activity_second_intro_disable"
            android:theme="@style/FullscreenTheme"/>
        <activity android:name="com.github.paolorotolo.appintroexample.animations.CustomAnimation"/>
        <activity android:name="com.github.paolorotolo.appintroexample.animations.FadeAnimation"/>
        <activity android:name="com.github.paolorotolo.appintroexample.animations.ZoomAnimation"/>
        <activity android:name="com.github.paolorotolo.appintroexample.animations.DepthAnimation"/>
        <activity android:name="com.github.paolorotolo.appintroexample.animations.FlowAnimation"/>
        <activity android:name="com.github.paolorotolo.appintroexample.animations.SlideOverAnimation"/>
        <activity android:name="com.github.paolorotolo.appintroexample.animations.ColorAnimation"/>
        <activity android:name="com.github.paolorotolo.appintroexample.indicators.ProgressIndicator"/>
        <activity android:name="com.github.paolorotolo.appintroexample.indicators.CustomIndicator"/>
        <activity android:name="com.github.paolorotolo.appintroexample.indicators.CustomColorIndicator"/>
        <activity
            android:name="com.github.paolorotolo.appintroexample.IntroWithBackground"
            android:label="Intro with background"
            android:theme="@style/FullscreenTheme"/>
        <activity
            android:name="com.github.paolorotolo.appintroexample.IntroDemoPolicy"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <!--AppIntro-->

        <!--FlexboxLayout-->
        <activity android:name="com.google.android.apps.flexbox.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.google.android.apps.flexbox.SettingsActivity"
                  android:theme="@style/FlexBoxTheme"/>
        <!--FlexboxLayout-->

        <!--gpuimage-->
        <activity
            android:name="jp.co.cyberagent.android.gpuimage.sample.activity.ActivityMain"
            android:label="@string/title_activity_activity_main" >
        </activity>
        <activity android:name="jp.co.cyberagent.android.gpuimage.sample.activity.ActivityGallery" />
        <activity
            android:name="jp.co.cyberagent.android.gpuimage.sample.activity.ActivityCamera"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--gpuimage-->

        <!--StickyListHeaders-->
        <activity
            android:name="se.emilsjolander.stickylistheaders.sample.TestActivity">
        </activity>
        <activity
            android:name="se.emilsjolander.stickylistheaders.sample.ExpandableListTestActivity">
        </activity>
        <!--StickyListHeaders-->

        <!--CircleImageView-->
        <activity android:name=".module.circleimageview.MainActivity"/>
        <!--CircleImageView-->

        <!--material-->
        <activity
            android:name="com.rey.material.demo.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppTheme"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!--material-->

<!--recyclerview-animators-->
        <activity
            android:name="jp.wasabeef.example.recyclerview.MainActivity"
            android:theme="@style/AppThemeRecyclerviewAnimators">
        </activity>
        <activity android:name="jp.wasabeef.example.recyclerview.AnimatorSampleActivity"
                  android:theme="@style/AppThemeRecyclerviewAnimators"/>
        <activity android:name="jp.wasabeef.example.recyclerview.AdapterSampleActivity"
                  android:theme="@style/AppThemeRecyclerviewAnimators"/>
        <!--recyclerview-animators-->

        <!--android-floating-action-button-->
        <activity android:name=".module.floatingactionbutton.MainActivity"
            android:theme="@style/ThemeFloatingActionButton"/>
        <!--android-floating-action-button-->

<!--ExoPlayer-->
        <activity android:name="com.google.android.exoplayer.demo.SampleChooserActivity"
                  android:configChanges="keyboardHidden"
                  android:theme="@style/RootTheme"
                  android:label="@string/application_name">
        </activity>

        <activity android:name="com.google.android.exoplayer.demo.PlayerActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
                  android:launchMode="singleTop"
                  android:label="@string/application_name"
                  android:theme="@style/PlayerTheme">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="asset"/>
                <data android:scheme="file"/>
            </intent-filter>
        </activity>
        <!--ExoPlayer-->

    </application>
</manifest>